freezegun

git+https://github.com/beescoop/obeesdoo@12.0#subdirectory=setup/beesdoo_base
git+https://github.com/beescoop/obeesdoo@12.0#subdirectory=setup/member_card
git+https://github.com/beescoop/obeesdoo@12.0#subdirectory=setup/eater
git+https://github.com/beescoop/obeesdoo@12.0#subdirectory=setup/eater_member_card
git+https://github.com/beescoop/obeesdoo@12.0#subdirectory=setup/beesdoo_product
git+https://github.com/beescoop/obeesdoo@12.0#subdirectory=setup/product_barcode_generator
git+https://github.com/beescoop/obeesdoo@12.0#subdirectory=setup/sale_product_deposit
git+https://github.com/beescoop/obeesdoo@12.0#subdirectory=setup/product_scale_label
git+https://github.com/beescoop/obeesdoo@12.0#subdirectory=setup/product_sale_limit_date
git+https://github.com/beescoop/obeesdoo@12.0#subdirectory=setup/product_expiration
git+https://github.com/beescoop/obeesdoo@12.0#subdirectory=setup/product_ingredients
git+https://github.com/beescoop/obeesdoo@12.0#subdirectory=setup/product_hazard
git+https://github.com/beescoop/obeesdoo@12.0#subdirectory=setup/product_main_supplier
git+https://github.com/beescoop/obeesdoo@12.0#subdirectory=setup/sale_suggested_price
git+https://github.com/beescoop/obeesdoo@12.0#subdirectory=setup/sale_adapt_price_wizard
git+https://github.com/beescoop/obeesdoo@12.0#subdirectory=setup/product_barcode_generator
git+https://github.com/beescoop/obeesdoo@12.0#subdirectory=setup/product_label_print_request
git+https://github.com/beescoop/obeesdoo@12.0#subdirectory=setup/beesdoo_product_label
git+https://github.com/beescoop/obeesdoo@12.0#subdirectory=setup/product_main_supplier
git+https://github.com/beescoop/obeesdoo@12.0#subdirectory=setup/sale_adapt_price_wizard
git+https://github.com/beescoop/obeesdoo@12.0#subdirectory=setup/sale_suggested_price
git+https://github.com/beescoop/obeesdoo@12.0#subdirectory=setup/purchase_order_responsible
git+https://github.com/beescoop/obeesdoo@12.0#subdirectory=setup/beesdoo_account
git+https://github.com/beescoop/obeesdoo@12.0#subdirectory=setup/beesdoo_product_info_screen
git+https://github.com/beescoop/obeesdoo@12.0#subdirectory=setup/pos_shift_partner_can_shop
git+https://github.com/beescoop/obeesdoo@12.0#subdirectory=setup/shift_worker_status
git+https://github.com/beescoop/obeesdoo@12.0#subdirectory=setup/shift
git+https://github.com/coopiteasy/addons@12.0#subdirectory=setup/sale_order_volume
git+https://github.com/coopiteasy/addons@12.0#subdirectory=setup/company_supplier_context
git+https://github.com/coopiteasy/addons@12.0#subdirectory=setup/account_customer_wallet
git+https://github.com/coopiteasy/addons@12.0#subdirectory=setup/pos_customer_wallet
git+https://github.com/coopiteasy/addons@12.0#subdirectory=setup/portal_customer_wallet
git+https://github.com/coopiteasy/cie-hr@12.0#subdirectory=setup/hr_auto_manager_group_membership
git+https://github.com/coopiteasy/cie-e-commerce@12.0#subdirectory=setup/website_sale_product_availability
git+https://github.com/coopiteasy/csv-connector@12.0#subdirectory=setup/csv_export_base
git+https://github.com/coopiteasy/csv-connector@12.0#subdirectory=setup/sftp_backend
git+https://github.com/coopiteasy/csv-connector@12.0#subdirectory=setup/csv_export_invoice
git+https://github.com/coopiteasy/csv-connector@12.0#subdirectory=setup/csv_export_partner
git+https://github.com/coopiteasy/csv-connector@12.0#subdirectory=setup/csv_export_payment
git+https://github.com/coopiteasy/pos@12-pos_mail_receipt-2#subdirectory=setup/pos_mail_receipt
git+https://github.com/coopiteasy/cie-resource#subdirectory=setup/resource_activity
git+https://github.com/coopiteasy/cie-resource#subdirectory=setup/resource_planning
git+https://github.com/coopiteasy/cie-resource#subdirectory=setup/resource_activity_delivery
git+https://github.com/coopiteasy/cie-resource#subdirectory=setup/resource_activity_guide
git+https://github.com/coopiteasy/account-invoicing@12.0-account_invoice_date_required#subdirectory=setup/account_invoice_date_required
git+https://github.com/coopiteasy/account-invoicing@12.0-account_invoice_negative_total#subdirectory=setup/account_invoice_negative_total
git+https://github.com/coopiteasy/cie-timesheet@12.0#subdirectory=setup/hr_timesheet_task_change_project
git+https://github.com/coopiteasy/cie-timesheet@12.0#subdirectory=setup/hr_timesheet_overtime
git+https://github.com/coopiteasy/cie-timesheet@12.0#subdirectory=setup/hr_timesheet_search_all_tasks
git+https://github.com/coopiteasy/addons@12.0#subdirectory=setup/resource_work_time_from_contracts
git+https://github.com/coopiteasy/addons@12.0#subdirectory=setup/company_today
git+https://github.com/fcayre/odoo-usability@12.0-fix-account_usability-and-make-pip-installable#subdirectory=setup/sale_down_payment
